.swipeButtons{
    position: fixed;
    bottom: 4vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.swipeButtons .MuiIconButton-root {
    background-color: white;
    box-shadow:0px 10px 53px 0px rgba(0,0,0,0.3) !important;
}

.swipeButtons__repeat{
    font-size: small;
    padding: 3vw !important;
    color: rgb(114, 104, 17) !important;
}

.swipeButtons__left{
    padding: 3vw !important;
    color: red !important;
}
.swipeButtons__star{
    padding: 3vw !important;
    color:aqua !important;
}

.swipeButtons__right{
    padding: 3vw !important;
    color: greenyellow !important;
}

.swipeButtons__lightning{
    padding: 3vw !important;
    color: violet !important;
}